body,html{
	background-color: #e6e6e6;
}

#navi {
	font: bold 12px Arial, regular;
	letter-spacing: 2px;
	box-shadow:0 1px 0px 0 #888888;
}
#navi ul {
 padding:0 31%; margin: 0 auto;
 list-style: none;
 height: 38px; line-height: 38px;
}
#navi li {
 float: left;
}
#navi li a {
 color: #212121;
 text-decoration: none;
 margin-right: 20px;
}
#navi li a:hover {
 color: #4e8dca;
}
#navi .aktiv {
	color: #4e8dca;
}
#logo{
	float:left;
	padding:0 5%;
	width: 1.5%;
	height: 1.5%;
}
#logoStart {
	margin: 0 40%;
	padding:0 5%;
	width: 5%;
	height: 5%;
}
#text{
	font: 18px Arial, regular;
}
#rahmen{
	margin: 1%;
	padding: 1%;
	border: black 1px solid;
	width: 50%;
}
#mSubmit{
	margin:1%;
}
#mCancel{
	margin:1%;
}
#mButton{
	margin: 1% 25%;
}
#anmelden{
	margin:0% 40%;
}
h3{
	padding: 2% 0%;
	font: bold 18px Arial, regular;
	color: fff;
	text-align: center;
}